# Xcode
## User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

## Build generated
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/xcode/xcuserdata/

## macOS
.DS_Store
.Spotlight-V100
.Trashes
